[submodule "libuavcan"]
	path = libuavcan
	url = https://github.com/UAVCAN/libuavcan.git
[submodule "platform_specific_components"]
	path = platform_specific_components
	url = git@github.com:oTToCar-MD/platform_specific_components.git
